@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    height: 100rem;
 
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #1D438A;
}

h1{ 
    display: flex;
    align-items: center;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 160px; 
   
}


ul{
    display: flex;
    align-items: center;
    margin-right: 210px;
    list-style: none;
    text-decoration: none
}

nav{
    display: flex;
    align-items: center;
}

nav ul li:hover{
    color: #828282;
    cursor: pointer;
}

li{ 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-right: 20px;
    list-style: none;
    text-decoration: none
}


main {
    width: 80%;
    margin-left: 150px;
    display:flex;
    justify-content: space-between;
}


section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


article{
    flex-direction: row;
    border: 2px solid #F5F5F5;
    margin-top: 30px;
    width: 300px;
}



article:hover{
    transform: translateY(20px);
    border: 1px solid #1D438A;
    
}

 
div.imgUm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F5F5F5;
}



#segundaDiv{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}


button.Categoria{
    width: 90px;
    background: #1D438A;
    color: #FFFFFF;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 26px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}


h3{
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1D438A;
}

p{
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color:#828282;
} 


span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-left: 20px;
    margin-bottom:15px;
    color: #1D438A;
}

a{
    font-family: 'Inter';
    margin-left: 20px;
    margin-bottom:20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #828282;
    cursor: pointer;
}




aside{
    height: 100%;
    float: right;
    width: 350px;
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}


form{
    height: 50px;
    display: flex;
    justify-content: space-between;
}


input{
    width: 246px;
    height: 50px;
    background-color:  #F5F5F5;
    border: none;
}


button{
    width: 96px;
    height: 50px;
    left: 1392px;
    top: 97px;
    border: none;
    margin-left: 5px;
    background-color: #122A57;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  } 


.cardCompras{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 0;
    background-color: #122A57;
    text-align:center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}




div.carrinho{
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}



p.carrinhoVazio{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #1D438A;
}

P.addItens{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1D438A;
}

div#itens{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}

section#vazio{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.footer{
    width: 350px;
    height: 126px;
    margin-right: 0;
    background-color: #122A57;
    display: flex;
    flex-direction: column;
}

div.totalPecas{
    display:flex;
    justify-content:space-between;
    margin-right: 20px;
}

div.valortotal{
    display:flex;
    justify-content:space-between;
    margin-right: 20px;  
}

p.qtPecas{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}


p#numero{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

p.total{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

p#valor{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}


div.divCardCarrinho{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

div.divCardCarrinho img{
    width: 76px;
    height: 71px;
    top: 228px;
    background: #FFFFFF;
    margin: 0px;
}

div.blocoimg{
    width: 100px;
    height: 100px;
    background: #FFFFFF;;
    display: flex;
    align-items: center;
   justify-content: center;
}


div.descricaoImg{
    display: flex;
    align-items: flex-start;
    flex-direction: column;    
}
